@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins {
  font-family: 'Poppins', sans-serif;
}
.playwrite {
  font-family: 'Playwrite AU SA', cursive;
}
/* Add this to your global CSS file (e.g., styles.css or globals.css) */
.bg-image-gradient {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url('/bg2.jpg');
  background-size: cover;

  background-position: center;
}
hr{
  border-top-width: 0;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0); /* transparent black */
  padding: 20px 40px;
  color: white;
  text-align: center;
  font-size: 14px;
 
}

.task-container {
  max-height: 170px; /* Adjust based on 3 tasks approx */
  overflow-y: auto;
  padding-right: 10px;
  margin-top: 20px;
}

.task-container::-webkit-scrollbar {
  width: 8px;
}

.task-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.task-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
